@charset "utf-8";
/* CSS Document */

html{
	font-size: 90%;
}

body{
	font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","Hiragino Kaku Gothic ProN","游ゴシック Medium",meiryo,"Droid Sans",sans-serif;
	text-align: center;
}

a:link,a:visited,a:hover,a:active{
	color: #fff;
	text-decoration: none;
}

li{
	list-style: none;
}

/* header */

.mainHeader {
	background-color: rgba(36,92,30,0.6);
	width: 100%;
	position: fixed;
	z-index: 1;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.mainHeader .wrap{
	display: flex;
}

.mainHeader .logo{
	width: 80px;
	height: 80px;
	font-size: 20px;
	text-align: center;
	padding: 30px;
	color: #fff;
}

.siteTitle{
	padding: 30px;
}

/* mainvideo */

.topVisualWrap{
	width: 100%;
	height: 100vh;
  max-height: 1200px;
	position: relative;
	overflow: hidden;
}

.topVisualWrap img{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	opacity: 0.8;
}

video{
	 position: absolute;
	  left: 0;
	  width: auto;
	  height: auto;
	  min-width: 100%;
	  min-height: 100%;
	 background-size: cover;
}

.bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: -100;
	left: 0;
	background: #000;
	background-size: cover;
	opacity: 0.3;
}

/* menubar */
.menuBar{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.menuBar ul{
	font-size: 19px;
	font-weight: 600;
	letter-spacing: 2px;
}

.menuBar li{
	display: inline-block;
	padding: 0 100px;
}

.menuBar li+ li {
    border-left: 3px dotted #fff;
}

.menuBar a{
	color: #fff;
}

.icon{
	color: #3E8238;
}

/* situation */

.subTitle{
	text-align: center;
	letter-spacing: 2px;
	color: #333;
	padding-bottom: 50px;
}

.situationWrap{
	padding: 90px;
}

.situationWrap ul{
	padding: 50px;
	display: flex;
	justify-content: center;
}

.situationWrap li{
	width: 450px;
	height: 250px;

}

.situationWrap a{
	display: block;
	border-radius: 20px;
	height: 250px;
	padding: 70px 0;
}

.situationWrap .link1,.link2{
	margin: 0 50px;
	cursor: pointer;
}

.titleWrap .title{
	text-align: center;
	font-size: 1.2rem;
	color: #fff;
}

.situationWrap .link1 a,.link2 a{
	background-color:#C1A02C;
}

.focus:hover{
	opacity: 0.8;
}

/* animal */

.animalContent{
	color: #fff;
	letter-spacing: 2px;
	line-height: 2;
	text-align: left;
}
.container{
	display: flex;
	justify-content: space-between;
	padding: 30px 30px 0;
}

.container .wrap{
	position: relative;
	width: 30%;
	height: 480px;
	background-color:rgba(102,156,52,0.80);
	border-radius: 20px;
}

.azia{
	position: absolute;
	bottom: 10px;
	left: 25px;
}

.elephant{
	position: absolute;
	bottom: 0;
	left: 0;
}

.tutibuta{
	position: absolute;
	top: 180px;
	left: 120px;
}

.wrap .pig{
	position: absolute;
	top: 0;
	right: 0;
}

.pigWrap{
	position: absolute;
	bottom: 20px;
}

.animalContent .title{
	font-size: 1.1rem;
	padding: 10px;
	border-bottom: 2px dotted white;
}

.animalContent .text{
	font-size: 0.9rem;
	padding: 0 10px;
}

/* infomation */
.infoWrap{
	text-align: left;
	padding: 70px;
	letter-spacing: 1px;
	background-color:rgba(56,126,62,0.30)
}

.green{
	width: 70px;
	height: 25px;
	text-align: center;
	color: #fff;
	background-color: #4EA25F;
	border-radius: 10px;
}

.infoWrap h2{
	text-align: center;
	margin-bottom: 50px;
}

.infoWrap .inner{
	display: flex;
	justify-content: space-between;
}

.left{
	padding: 50px;
}

.left,.right{
	width: 50%;
	letter-spacing: 1px;
	line-height: 1.8;
}

h3{
	margin-bottom: 20px;
}

/* support */

.support{
	padding: 30px;
	text-align: center;
	font-size: 1.1rem;
}

.supportWrap{
	padding: 50px;
	line-height: 2;
}

.supportWrap .title{
	color: #333;
	font-size: 1.3rem;
}

.supportWrap .text{
	font-size: 0.9rem;
}

.btn-circle-border-simple {
	 background: #3E8238;
	  display: inline-block;
	  text-decoration: none;
	  color: #000;
	  width: 120px;
	  height: 120px;
	  line-height: 120px;
	  border-radius: 50%;
	  border: solid 2px #3E8238;
	  text-align: center;
	  overflow: hidden;
	  font-weight: 500;
	  transition: .4s;
}

.btn-circle-border-simple:hover {
	background: #C1A02C;
	border: solid 2px #C1A02C;
}

.btn-circle-border-simple a:link{
	color: #333;
}

/* sns */

.snsWrap{

	min-width: 1024px;
}

.sns img{
	width: 100%;
	height: 400px;
	margin: 0;
	padding: 0;
}

/* footer */

.mainFooter{
	width: 100%;
    min-width: 1024px;
	background-color: #4EA25F;
    color: #fff;
	margin: 0;
	padding: 0;
}

.mainFooter .bold {
    font-weight: bold;
}

.footerInner {
    width: 1024px;
    margin: 0 auto;
    padding: 10px 30px;
    text-align: left;
}

.footerInner>* {
    display: inline-block;
    vertical-align: top;
}

.footerInner p {
    /font-size: 1.3rem;
}

.footerInner ul {
    padding: 0;
}

.footerInner li {
    font-size: 0.8rem;
    line-height: 1.8;
}

.footerInner li a:hover {
    text-decoration: underline;
}

.info {
    width: 35%;
	text-align: left;
}

.sitemap {
    width: 15%;
}

.link {
    width: 15%;
}

.copy {
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
    font-size: 0.9rem;
}

@media screen and (max-width:685px){
  /*0px以上で適用する内容*/

	.menuBar li{
		display: block;
	   padding: 50px;
}

}

@media screen and (max-width:1137px){
  /*300px以上で適用する内容*/



.menuBar li{
	display: inline-block;
	padding: 0 50px;
}


}

@media screen and (min-width:1136px){
  /*600px以上で適用する内容*/

	.menuBar li{
	display: inline-block;
	padding: 0 90px;
}

}
